.preview-dialog {
    max-width: 100vw !important;
    max-height: 100vh !important;
    margin: 0;
  }
  
  .header-modal-title-view-pdf{
    height: 55px !important;
    }
    
  .mdc-dialog__content{
    overflow: hidden !important;
  }
/*   .preview-dialog .mat-dialog-container {
    padding: 0;
  } */

  .button-close {
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 100;
  }
 
  .icon-close-modal{
    font-size: 30px;
    font-weight: bold;
  }

  .pdf-preview{
    width: 840px; 
    height: 100vh;
  }
 

  
@media screen and (max-width: 480px) {

  .pdf-preview{
    width: 300px; 
    height: 40vh;
  }
  .button-close{
    top: 0;
    right: -3px; 
  }
}