<div [formGroup]="form">

    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <div class="flex justify-between header-modal-title w-full">
            <h2 class="headline m-0 text-xl text-accent">
                <strong>Actualizar Contraseña</strong>
            </h2>
            <button class="text-secondary button-close" mat-dialog-close mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-content>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Contraseña Actual</mat-label>
                <input matInput formControlName="password" [type]="ocultarPassword ? 'password' : 'text'"
                       (blur)="onBlur('password')"/>
                <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword" type="button">
                    <mat-icon matSuffix class="icon-eye" fontIcon="{{ocultarPassword ? 'visibility_off' :
                    'visibility'}}"></mat-icon>
                </button>
                <mat-error *ngIf="form.get('password').invalid">{{ getErrorMessage('password') }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput formControlName="newPassword" [type]="ocultarNewPassword ? 'password' : 'text'"
                       (blur)="onBlur('newPassword')"/>
                <button mat-icon-button matSuffix (click)="ocultarNewPassword = !ocultarNewPassword" type="button">
                    <mat-icon matSuffix class="icon-eye" fontIcon="{{ocultarNewPassword ? 'visibility_off' :
                    'visibility'}}"></mat-icon>
                </button>
                <mat-error *ngIf="form.get('newPassword').invalid">{{ getErrorMessage('newPassword') }}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirmar Nueva Contraseña</mat-label>
                <input matInput formControlName="confirmNewPassword"
                       [type]="ocultarNewPasswordConfirm ? 'password' : 'text'" (blur)="onBlur('confirmNewPassword')"/>
                <button mat-icon-button matSuffix (click)="ocultarNewPasswordConfirm = !ocultarNewPasswordConfirm"
                        type="button">
                    <mat-icon matSuffix class="icon-eye" fontIcon="{{ocultarNewPasswordConfirm ? 'visibility_off' :
                    'visibility'}}"></mat-icon>
                </button>
                <mat-error *ngIf="form.get('confirmNewPassword').invalid">{{ getErrorMessage('confirmNewPassword') }}
                </mat-error>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>CANCELAR</button>
        <button mat-raised-button color="primary" (click)="changePassword()"
                [disabled]="form.invalid || disableRegisterButton">
            GUARDAR
        </button>
    </mat-dialog-actions>
</div>